
@media (min-width: 200px) and (max-width: 1199px) {
	
 .jt__text { text-align: center;
    text-indent: 0%;
    width: 100%;
	
}
@media (min-width: 992px) and (max-width: 1199px) {
.playlist {
                width: 200;
                height: 200px;	
 
	
}



@media (max-width: 767px) {
	
 
	 body {
    
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 800px 800px;
      animation: gradient 15s ease infinite;
}}

@media (max-width: 575px) {
	 body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 600px 600px;
      animation: gradient 15s ease infinite;}

}

@media screen and (max-width:575px) {
  .jt__text { text-align: center;
    text-indent: 0%;
    width: 100%;
	 
}

@media screen and (max-width: 200px) {
  .playlist {
    grid-template-columns: repeat(2, 1fr);
  }

}